#mainheader, #mainheader-nd {
	background-color: #444;
	border-color: #444;
}
li[data-role="list-divider"] {
	border: 1px solid #222;
	box-shadow: inset 0 8px 5px -5px #444;
	background-color: #555;
	color: #888;
	text-shadow: none;
}
#panel-first, #panel-second {
	background-color: #333;
}

.test {
	background-color: #333 !important;
	border-color: #222 !important;
	color: white !important;
	box-shadow: inset 0 8px 5px -5px #444;
	text-shadow: none !important;
}

.test:hover {
	background-color: #444 !important;
}
.logo-wrapper {
	padding:5px;
	background-color:white;
	border:none;
	/*height: 80px;*/
}
.logo {
	text-align:right;
	padding:5%;
}
.logo-text {
	padding: 5px;
	padding:5%;
}
.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
.main-window {
	background-color:#ddd;
	margin-top: 10%;
}
.ui-table-columntoggle-btn {
    display: none !important;
}
/*body{
	cursor: pointer;
}*/